h1 {
    color: blue;
    font-family: Luminari;
}
ul {
    list-style: none;
}
ol {
    font-weight: bold;
}
li {
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}
img {
    height: 200px;
}
body {
    font-family: sans-serif;
}
h3 {
    text-decoration: underline;
}
p {
    padding-top: 20px;
    padding-bottom: 20px;
}
h1 {
    font-size: 30px;
}
