h1 {
  font-family: Luminari;
  color: blue;
  font-size: 30px;
  text-align: right;
}

ul {
  list-style-type: none;
}

.bold {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid;
  border-color: red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img {
  height: 200px;
  border: 5px black solid;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration: underline;
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}
