h1 {
    font-family: Luminari;
    color: blue;
    font-size: 30px;
}
ul {
    list-style-type: none;
  }
ol{
    font-weight: 700;
}
li{
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}
img{
    height: 200px;
}
body {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    text-decoration-line: underline;
    width: 200px;
    padding: 20px;
    background: rgb(240, 240, 122);
    background-clip: content-box;
    text-align: center;
}
p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}