h1 {
   font-family: Luminari;
   color:blue;
   font-size: 30px;
}
h1:hover {
    color:blue;
}

ul {
   list-style-type: none;
}
ol{
    font-weight: 700;
    font-size: 20px;
}
li{
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    color:blue;
    background-color: rgb(255, 182, 193);
    padding-left: 30PX;
}
img {
    height:200px;
}
body {
    font-family:sans-serif ;
    background-color: red;
}

h3{
    text-decoration-line: underline;
}
P{
    padding-top: 20px;
    padding-bottom: 20px; 
}