body {
    font-family: sans-serif;
}

h1 {
    font-family: 'Luminari';
    color: blue;
    font-size: 30px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    height: 200px;
}

h3 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

ol {
    font-weight: bold;
}

li {
    text-align: center;
    border: 1px solid red;
    border-radius: 10px;
    color: blue;
    background-color: lightpink;
    padding-left: 30px;
}


