h1 {
    font-family: Luminari;
    color: rgb(0, 0, 255);
  }
  
  ul {
    list-style-type: none;
    font-weight: 700;
  }
  
  ol {
    font-weight: 700;
  }
  
  li {
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 255);
    background-color: rgb(255, 182, 193);
    padding-left: 30px;
  }
  
  img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  body {
    font-family: sans-serif;
    background-color: lightskyblue;
    font-weight: bolder;
    border: 0.5rem outset rgb(190, 27, 182);
  }
  
  h3 {
    text-decoration-line: underline;
    color: blueviolet;
  }
  
  p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: fuchsia;
  }
  
  h1 {
    font-size: 30px;
  }
  
  html {
    background-color: transparent;
  }
  
  h2 {
    color: blueviolet;
  }