h1 {
  text-align: center;
  font-family: "Luminari";
  font-size: 30px;
  color: blue;
}
h2 {
  text-align: center;
  text-decoration-line: underline;
  padding-left: 30px;
}
ul {
  list-style-type: none;
}
ol {
  font-weight: 700;
  list-style-type: none;
}
li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}
img {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}
body {
  font-family: sans-serif;
  color: rgb(73, 21, 97);
}
h3 {
  text-align: center;
  text-decoration-line: underline;
  padding-left: 30px;
}
p {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}
a {
  color: rgb(73, 21, 97);
}
div {
  text-align: center;
  padding-left: 30px;
}
